@tailwind base;
@tailwind components;
@tailwind utilities;

/* smooth scroll (optional but nice) */
html {
  scroll-behavior: smooth;
}

@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-14px); }
}